<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${add} ? 'Add a User'" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="${add} ? 'Add a User:'" />
<a th:href="@{/users}">Back to User List</a>
<br/><br/>
<form th:action="${add} ? @{/users/add}"
      th:object="${user}" method="POST">
    <table border="0">
        <tr th:if="${user.id}">
            <td>ID</td>
            <td>:</td>
            <td th:utext="${user.id}">...</td>
        </tr>
        <tr>
            <label for="userName">Name</label>
            <input type="text" th:field="*{userName}" id="userName" placeholder="Name">
        </tr>
        <tr>
            <label for="userAge">Age</label>
            <input type="text" th:field="*{userAge}" id="userAge" placeholder="Age">
        </tr>
        <tr>
            <label for="userJob">Job</label>
            <input type="text" th:field="*{userJob}" id="userJob" placeholder="Job">
        </tr>
    </table>
    <input type="submit" th:value="Add" />
</form>

<br/>
<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
</html>